body {
  background-image: url('../images/soft_wallpaper.png');
  font: 14px '微软雅黑',sans-serif;
  margin: 0;
  padding: 0;
}
.main {
  width: 1000px;
  margin: 60px auto 30px;
  padding: 60px;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,.1);
  position: relative;
}
.title {
  clear: both;
  font: bold 20px/12px '微软雅黑',sans-serif;
  margin: 20px -60px 10px;
  border-left: 52px solid #444;
  color: #444;
  padding: 1px 0 0 8px;
  letter-spacing: 3px;
  position: relative;
}
.title:before {
  content: "";
  position: absolute;
  width: 45px;
  height: 45px;
  left: -105px;
  top: -15px;
  background-image: url('../images/icons.png');
}
#info:before {
  background-position: -90px -45px;
}
#skills:before {
  background-position: left top;
}
#expre:before {
  background-position: -45px top;
}
#project:before {
  background-position: left -45px;
}
#edu:before {
  background-position: right top;
}
.iconbox {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 55px;
  right: 60px;
  text-align: right;
}
.socialIcon {
  width: 60px;
  height: 60px;
  margin: 0 0 0 3px;
  display: inline-block;
  border-radius: 50%;
  background: url('../images/photo-self.png') center;
  background-size: cover;
}
.person-info {
  width: 100%;
  margin: 40px auto;
  padding: 20px 30px;
  background: #fbfbfb;
  border: 1px solid #f3f3f3;
  border-radius: 8px;
  line-height: 24px;
  overflow: hidden;
  -moz-box-sizing: border-box; /*Firefox3.5+*/
  -webkit-box-sizing: border-box; /*Safari3.2+*/
  -o-box-sizing: border-box; /*Opera9.6*/
  -ms-box-sizing: border-box; /*IE8*/
  box-sizing: border-box;
}
.person-info p {
  float: left;
  width: 50%;
  color: #666;
}
.skillbox {
  margin-bottom: 40px;
}
.skillbox span {
  padding: 8px 10px;
  border: 1px solid #f3f3f3;
  background: #fbfbfb;
  border-radius: 5px;
  display: inline-block;
  margin-right: 10px;
}
#color1 {
  background-color: #dff0d8;
  border: 1px solid #d6e9c6;
  color: #3c763d;
}
#color2 {
  background-color: #fcf8e3;
  border: 1px solid #faebcc;
  color: #8a6d3b;
}
.basicintro {
  margin-top: 25px;
  line-height: 20px;
}
.color1 {
  width: 15px;
  height: 15px;
  display: inline-block;
  background-color: #dff0d8;
  border: 1px solid #d6e9c6;
  color: #3c763d;
  margin-right: 10px;
}
.color2 {
  width: 15px;
  height: 15px;
  display: inline-block;
  background-color: #fcf8e3;
  border: 1px solid #faebcc;
  color: #8a6d3b;
  margin-left: 30px;
  margin-right: 10px;
}
/*工作经历*/
.exprebox {
  overflow: hidden;
  clear: both;
  color: #666;
  margin-top: 30px;
  border-bottom: 1px dashed #ccc;
  padding-bottom: 20px;
}
.last-child {
  border-bottom: none;
}
.exprebox .left {
  width: 30%;
  line-height: 30px;
  float: left;
}
.exprebox .right {
  line-height: 30px;
  float: left;
}
/*项目经验*/
.projectbox {
  line-height: 24px;
  color: #666;
  margin-top: 30px;
  border-bottom: 1px dashed #ccc;
  padding-bottom: 20px;
}
.projectbox a {
  text-decoration: none;
  color: #ff6700;
}
.projectbox p {
  margin-top: 10px;
}
.projectbox span{
  font-size: 16px;
  color: #ff6700;
}
.projectbox label {
  display: inline-block;
  padding: 0px 8px;
  margin-right: 10px;
  background: #fbfbfb;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
}
/*教育经历*/
.edubox {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  color: #666;
  margin-top: 30px;
}